<!-- Page Heading -->
<div class="row page-header ">
    <div class="col-lg-10 ">
        <h1>
            Lista de Kartódromos
        </h1>
        <p ng-show="resultados.length">
            Kartódromos cadastrados: {{resultados.length}}
        </p>
    </div>
    <div class="col-lg-2">
      <a ng-href="#/resultado" class="btn btn-primary">
          <span class="glyphicon glyphicon-road"></span> Nova Resultado
      </a>
    </div>
</div>
<!-- /.row -->
<div class="form-group input-group">
    <input type="text" class="form-control" ng-model="filtro" type="search" placeholder="Filtro de Pesquisa">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>RESULTADO</th>
            <th class="text-center">Ação</th>
        </tr>
        <tr ng-repeat="resultado in resultados | filter: filtro">
            <td>
                {{resultado._id}}
            </td>
            <td>
                <a class="btn btn-primary" ng-href="#/resultado/{{resultado._id}}">
                  <span class="glyphicon glyphicon-edit"></span> Editar
                </a>
            </td>
            <td class="text-center">
                <button class="btn btn-warning" ng-click="remove(resultado)">
                    <span class="glyphicon glyphicon-trash"></span> Remover
                </button>
            </td>
        </tr>
    </table>
    <p class="text-info" ng-hide="resultados.length">
        Não há Resultados cadastrados
    </p>
</div>
