<div class="jumbotron">
    <h1 class="text-center">
        Bem vindo ao cadastro de Resultado
    </h1>
</div>
<h1 class="text-center">Resultado</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<form name="formPista" ng-submit="salva()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-pencil"></i>&nbsp;Informações da Corrida
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="calendario">Data e local da Corrida</label>
                    <select
                        class="form-control"
                        ng-options="calendario._id as calendario.descricao for calendario in calendarios"
                        required
                        name="calendario"
                        id="calendario"
                        ng-model="resultado.calendario">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-pencil"></i>&nbsp;Informações da Corrida
        </div>
        <div class="panel-body simpleDemo">
            <div class="row">
                <div class="col-md-12">
                  <div ng-repeat="(listName, list) in models.lists" class="col-md-6">
                      <div class="panel panel-info">
                          <div class="panel-heading">
                              <h3 class="panel-title">List {{listName}}</h3>
                          </div>
                          <div class="panel-body" ng-include="'partials/resultado/drag-list.html'"></div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
</form>
