<div class="jumbotron">
    <h1 class="text-center">
        Bem vindo ao cadastro de Resultado
    </h1>
</div>
<h1 class="text-center">Resultado</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<form name="formPista" ng-submit="salva()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-pencil"></i>&nbsp;Informações da Corrida
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <label for="calendario">Data e local da Corrida</label>
                    <select
                      class="form-control"
                      ng-options="calendario._id as calendario.descricao for calendario in calendarios"
                      required
                      name="calendario"
                      id="calendario"
                      ng-model="resultado.calendario">
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="piloto">Piloto (Volta mais rápida)</label>
                    <select
                      class="form-control"
                      ng-options="piloto._id as piloto.nomeCompleto for piloto in pilotos"
                      required
                      name="piloto"
                      id="piloto"
                      ng-model="resultado.piloto">
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="piloto">Tempo da volta</label>
                    <input
                      class="form-control"
                      required
                      name="tempo"
                      id="tempo"
                      ng-model="resultado.tempo">
                    </input>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
</form>
